.contract-controls__wallet-key::before {
  background-image: url(./i/key.svg);
}

.block-half .contract-functions {
  display: none;
}

@media (min-width: 1000px) {
  .block-half .contract-functions {
    display: block;
  }
}

.transactions {
}

.transactions .transactions__header {
  font-family: "Cera Pro 700";
  font-size: 15px;
}

.transactions > div {
  padding: 0 10px;
  background: #f2f3f7;
  margin-bottom: 20px;
  padding: 10px 0;
}

.transactions > div ul {
  flex-grow: 1;
  padding: 0 0 0 20px;
  list-style: none;
  margin: 0;
}

.transactions .spinner {
  padding: 10px 0;
}

.transactions .spinner img {
  height: 80px;
}

.transactions .func-name, .transactions .tx-result {
  font-family: "Cera Pro 700";
}

.transactions .tx-link {
  font-size: 90%;
}

.transactions .tx-params {
  padding: 8px 0;
}

.transactions .support-block__paragraph {
  font-size: 12px;
  margin: 0;
}

.contract-controls__wrapper .table__inner {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 280px;
}

@media (min-width: 600px) {
  .contract-controls__wrapper .table__inner {
    max-width: 500px;
  }
}

.contract-controls__wrapper .table__inner a {
  font-size: 18px;
}
