@import '../../styles/variables.less';

.page-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-width: 320px;
    height: 268px;
    padding: 34px 30px 24px;

    background-color: #FFFFFF;

    .logo {
        order: 1;

        height: 50px;

        img {
            width: 116.88px;
            height: 20px;
        }
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        order: 4;

        height: 40px;
        padding-left: 45px;

        .nav-list {
            display: flex;
            justify-content: space-between;

            width: 100%;
            max-width: 568px;
            margin: 0;
            padding: 0;

            list-style: none;

            .nav-item {
                text-decoration: none;

                color: black;

                font-family: @f-cera-pro-500;
                font-size: 16px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .follow {
        order: 2;

        .social {
            width: 100%;
            max-width: 278px;
        }
    }

    .search {
        display: flex;
        justify-content: flex-end;
        order: 5;

        padding-left: 45px;

        .wrapper-input {
            @search-height: 45px;
            @search-img-size: 16px;
            @search-img-margin: (@search-height - @search-img-size)/2;

            position: relative;

            width: 100%;
            max-width: 568px;

            .search-field {
                width: 100%;
                height: @search-height;
                padding-left: @search-img-margin * 2 + @search-img-size;

                border: none;
                border-radius: 6px;
                outline: none;
                outline: none;
                background-color: #F2F3F7;

                font-family: @f-cera-pro-500;
                font-size: 16px;
            }

            .search-input {
                position: absolute;
                left: @search-img-margin;

                width: @search-img-size;
                height: @search-img-size;
                margin-top: @search-img-margin;
            }
        }
    }

    .info {
        flex: 1;
        order: 3;

        padding-top: 66px;

        font-family: @f-cera-pro-500;

        p {
            margin: 5px 0;
        }

        a {
            text-decoration: none;

            color: lighten(@color-primary, 25);

            &:hover {
                color: @color-hover-link;
            }
        }
    }

    .policy {
        display: flex;
        align-items: flex-end;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        order: 6;

        padding-left: 45px;

        font-family: @f-cera-pro-500;

        .wrap-text {
            width: 100%;
            max-width: 568px;

            p {
                margin: 5px 0;
            }

            a {
                text-decoration: none;

                color: lighten(@color-primary, 25);

                &:hover {
                    color: @color-hover-link;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .page-footer {
        flex-wrap: nowrap;

        height: auto;

        .logo {
            height: 30px;
        }

        .navigation {
            display: block;
            order: 2;

            height: auto;
            margin-top: 20px;
            padding: 0;

            .nav-list {
                flex-wrap: wrap;
                justify-content: flex-start;

                .nav-item {
                    padding: 0 20px 20px 0;
                }
            }
        }

        .search {
            display: block;
            order: 3;

            padding: 0;
        }

        .follow {
            order: 4;

            margin-top: 20px;
        }

        .policy {
            display: block;
            order: 5;

            margin-top: 20px;
            padding: 0;
        }

        .info {
            order: 6;

            margin-top: 30px;
            padding: 0;
        }
    }
}
