@import '../../../styles/variables.less';

.view-func {
    width: 100%;

    .card {
        overflow: hidden;

        border-radius: 8px;
        background-color: #FFFFFF;

        .card-body {
            box-sizing: border-box;
            min-height: 150px;
            padding: 20px 65px 20px 35px;

            &.bg-bottom {
                background-image: url('../../../assets/img/common/dapp/dapp-bg.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
            }

            .card-header {
                display: flex;
                flex-wrap: wrap;

                margin-bottom: 20px;
            }

            .card-intro {
                margin-right: 45px;
                margin-bottom: 20px;
            }

            .card-label {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                box-sizing: border-box;
                margin: 0;
                padding-right: 10px;

                color: #000000;

                font-family: @f-cera-pro-400;
                font-size: 12px;
                line-height: 16px;

                .card-text {
                    margin-right: 5px;
                }

                .question-icon {
                    height: 13px;

                    cursor: pointer;

                    svg {
                        flex-shrink: 0;

                        height: 13px;
                    }
                }
            }

            .card-title {
                margin: 0;

                color: #191919;

                font-family: @f-cera-pro-500;
                font-size: 24px;
                line-height: 30px;
            }

            .card-table {
                margin: 0;
                padding: 0;

                list-style: none;
            }

            .card-row {
                display: flex;
                align-items: flex-start;

                padding-top: 10px;
                padding-bottom: 10px;
            }

            .card-row + .card-row {
                border-top: 1px solid #E5E9F1;
            }

            .card-data {
                margin: 0;

                word-break: break-all;

                color: #000000;

                font-family: @f-cera-pro-700;
                font-size: 15px;
                line-height: 20px;
            }
        }

        .card-button {
            display: block;

            width: 100%;
            padding-top: 19px;
            padding-bottom: 22px;

            cursor: pointer;

            opacity: .9;
            color: #0C7186;
            border: 0;
            border-radius: 0 0 8px 8px;
            outline: 0;
            background-color: transparent;

            font-family: @f-cera-pro-500;
            font-size: 15px;
            line-height: 19px;

            svg {
                fill: #0C7186;
            }

            &:hover, &:focus {
                color: #FFFFFF;
                background-color: #0C7186;

                svg {
                    fill: #FFFFFF;
                }
            }
        }
    }
}
