.network-item {
    height: 34px;
    padding: 0 13px;

    cursor: pointer;

    color: gray;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    background-color: #F5F6F8;

    p {
        margin: 0 0 0 3px;
        padding: 0;
    }

    img {
        width: 20px;
        height: 20px;
    }

    &.select {
        color: white;
        border: none;
        background-color: #0B424D;
    }
}
