.list-item {
    .id {
        width: 80px;
    }

    .info {
        width: 380px;
        // .dapp-name {
        // }

        // .description {

        // }
    }


    .transaction-count {
        width: 40px;
    }

    .eth-volume {
        width: 90px;
    }

    .user-number {
        width: 50px;
    }

    .hour24 {
        width: 80px;
    }

    .week {
        width: 80px;
    }
}
