@import '../../styles/variables.less';

.dashboard {
    flex: 1;

    .dashboard-add-btn {
        margin: 20px 10px;
    }

    .dashboard__container {
        width: 100%;

        .dashboard__list {
            display: grid;

            margin: 20px 10px 0;
            padding: 0;

            list-style: none;

            grid-template-columns: repeat(auto-fit,minmax(353px,1fr));
            grid-gap: 10px;
        }
    }
}
