form.rjsf > div.form-group.field.field-object {
  padding: 0 15px 0 15px;
  margin: 0;
  border: 0;
  margin-bottom: 36px;
}

form.rjsf fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

form.rjsf div.form-group.field + div.form-group.field,
form.rjsf div.array-item + div.array-item {
  margin-top: 25px;
}

form.rjsf div.form-group.field.field-string,
form.rjsf div.form-group.field.field-integer,
form.rjsf div.form-group.field.field-boolean {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

form.rjsf .control-label {
  font-family: "Cera Pro 700", Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  opacity: .9;
  outline: none;
}

form.rjsf .field-description {
  font-size: 12px;
  line-height: 17px;
  font-family: "Cera Pro 500", Arial, sans-serif;
  font-weight: 400;
  opacity: .5;
  margin: 0;
}

form.rjsf input.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 14px 17px 16px 17px;
  font-family: "Cera Pro 300", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #FFFFFF;
  border: 0;
  outline: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  -webkit-appearance: none;
  margin-top: 10px;
}

form.rjsf input.form-control:focus {
  box-shadow: inset 0 0 0 2px rgba(79,108,255,1);
}

form.rjsf .field-error input {
  box-shadow: inset 0 0 0 3px rgba(255,78,89,1);
}

form.rjsf .error-detail {
  color: rgba(255,78,89,1);
  list-style-type: none;
  padding-left: 0;
}

form.rjsf legend {
  font-size: 24px;
  font-family: "Cera Pro 500";
  margin-bottom: 10px;
}

form.rjsf .field-array-of-object > legend {
  margin-bottom: 20px;
}

form.rjsf .array-item {
  display: flex;
}

form.rjsf .array-item > div:first-child {
  flex-grow: 1;
}

form.rjsf .array-item-toolbox .btn-group {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

form.rjsf .array-item-toolbox .btn-group button {
  flex-grow: 1;
}

form.rjsf .array-item-add button {
  background-color: #24a634;
  color: white;
  padding: 10px 25px;
  margin-left: auto;
}

form.rjsf .glyphicon {
  font-style: normal;
  font-size: 18px;
  margin: auto;
}

form.rjsf .glyphicon-plus:before {
  content: "+";
}

form.rjsf .glyphicon-arrow-up:before {
  content: "\2b06";
}

form.rjsf .glyphicon-arrow-down:before {
  content: "\2b07";
}

form.rjsf .glyphicon-remove:before {
  content: "\2716";
}

@media (min-width: 600px) {
  form.rjsf > div.form-group.field.field-object {
    margin-bottom: 55px;
  }
}

@media (min-width: 1000px) {
  form.rjsf > div.form-group.field.field-object {
    padding: 0 25px 0 25px;
  }

  form.rjsf .field-description {
    max-width: 395px;
  }
}

form.rjsf textarea.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 14px 17px 16px 17px;
  font-family: "Cera Pro 300", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: #FFFFFF;
  border: 0;
  outline: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  -webkit-appearance: none;
  margin-top: 10px;
  height: 120px;
}

form.rjsf input[type=file] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: "Cera Pro 300", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  -webkit-appearance: none;
  margin-top: 10px;
}

form.rjsf ul.file-info {
  font-family: "Cera Pro 300", Arial, sans-serif;
  font-size: 16px;
  margin: 8px 0 0;
}
