.contract-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.03);
}

.contract-card__link {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #F2F3F7;
  }

  &:hover .contract-card__header,
  &:focus .contract-card__header {
    color: $link-hover;
  }
}

.contract-card__wrapper {
  overflow: hidden;
}

.contract-card__inner {
  display: flex;
  flex-direction: column;
  padding: 20px 13px 23px 13px;

  &:not(.contract-card__inner--position) {
    flex-grow: 1;
    padding-bottom: 95px;
    border-top: 1px solid #DDDDDD;
  }
}

.contract-card__inner--position {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  box-sizing: border-box;
}

.contract-card__header {
  margin-top: 0;
  margin-bottom: 7px;
  font-family: "Cera Pro 700", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  opacity: .9;
}

.contract-card__description {
  margin-top: 0;
  font-family: "Cera Pro 400", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  opacity: .5;
}

@supports (word-break: break-word) {
  .contract-card__description {
    word-break: break-word;
  }
}

@supports not (word-break: break-word) {
  .contract-card__description {
    word-break: break-all;
  }
}

.contract-card__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
}

.contract-card__price {
  position: relative;
  z-index: 101;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    color: $link-hover;
    box-shadow: inset 3px 3px $link-hover,
                inset -3px -3px $link-hover;
  }
}

.contract-card__quantity {
  position: relative;
  z-index: 101;
  display: flex;
  align-items: center;
  font-family: "Cera Pro Black", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  opacity: .3;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url("../img/store/man.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $screen-lg) {
  .contract-card__inner {
    padding-bottom: 15px;
  }

  .contract-card__header {
    width: 230px;
    font-size: 20px;
    line-height: 24px;
  }
}
