@import '../../styles/variables.less';

.page-header {
    justify-content: space-between;

    height: 78px;
    padding: 0 33px 0 50px;

    background-color: white;
    box-shadow: inset 0 -1px #DDDDDD;

    .page-header__link {
        display: block;

        width: 107px;
        height: 19px;

        .page-header__logo {
            width: 107px;
            height: 19px;

            color: #496EFF;

            fill: #141414;
        }
    }

    .main-navigation {
        overflow-x: auto;

        height: 100%;

        .main-navigation__list {
            justify-content: center;

            height: 100%;
            margin: 0;
            padding: 0;

            list-style-type: none;

            .main-navigation__item {
                display: inline-block;

                height: 100%;
                padding: 0  23px;

                .main-navigation__link {
                    display: flex;

                    height: 100%;

                    white-space: nowrap;
                    text-decoration: none;
                    letter-spacing: .3px;

                    color: rgba(0,0,0,.5);

                    font-family: @f-cera-pro-700;
                    font-size: 15px;

                    .tgm {
                        margin: 0px 5px 0 0;

                        color: rgba(0,0,0,.8);
                    }
                }
            }

            .active {
                box-shadow: inset 0 -3px #0C7186;

                .main-navigation__link {
                    color: rgba(0,0,0,1);
                }
            }
        }
    }



    // .page-header__link:hover
    // .page-header__logo, .page-header__link:focus
    // .page-header__logo {
    //     color: @link-hover;

    //     fill: @link-hover;
    // }

    // .main-navigation {
    //     order: 3;
    // }

    // .main-navigation__list {
    //     display: flex;
    //     overflow-x: scroll;
    //     overflow-y: hidden;
    //     -webkit-overflow-scrolling: touch;

    //     height: 78px;
    //     margin: 0 auto;
    //     padding: 0 0 30px 0;

    //     list-style: none;

    //     white-space: nowrap;
    // }

    // .main-navigation__item {
    //     flex-shrink: 0;

    //     &:first-of-type {
    //         margin-left: 15px;
    //     }

    //     &.active {
    //         box-shadow: inset 0 -3px #0C7186;

    //         a {
    //             opacity: 1;
    //             color: #000000;
    //         }
    //     }
    // }

    // .main-navigation__link {
    //     position: relative;

    //     display: flex;
    //     align-items: center;

    //     box-sizing: border-box;
    //     height: 100%;
    //     padding: 25px 19px 25px 19px;

    //     text-align: center;
    //     text-decoration: none;

    //     opacity: .5;
    //     color: #000000;

    //     font-family: 'Cera Pro 700', Arial, sans-serif;
    //     font-size: 15px;
    //     line-height: 18px;

    //     &[href]:hover, &[href]:focus {
    //         opacity: 1;
    //         color: @link-hover;

    //         .main-navigation__icon--running, .main-navigation__icon--favourites, .main-navigation__icon--archive, .main-navigation__icon--search {
    //             fill: @link-hover;
    //         }
    //     }

    //     &:not([href]) {
    //         opacity: 1;
    //     }

    //     &:not([href])::after {
    //         position: absolute;
    //         bottom: 0;
    //         left: 0;

    //         display: block;

    //         width: 100%;
    //         height: 3px;

    //         content: '';

    //         background: #3E63FE;
    //     }

    //     .tgm {
    //         margin: 2px 5px 0 0;
    //     }
    // }

    // .main-navigation__icon--archive, .main-navigation__icon--favourites, .main-navigation__icon--running, .main-navigation__icon--search {
    //     fill: #333333;
    // }

    // .main-navigation__icon + .main-navigation__name {
    //     margin-left: 10px;
    // }

    // .main-navigation__quantity {
    //     margin-left: 5px;

    //     letter-spacing: 1px;

    //     opacity: .2;
    // }

    // .main-navigation__search-form {
    //     display: none;
    // }

    // .main-navigation--bottom-fix {
    //     position: fixed;
    //     z-index: 1000;
    //     bottom: 0;
    //     left: 0;

    //     overflow: auto;

    //     width: 100%;
    //     height: auto;

    //     background-color: #FFFFFF;
    //     box-shadow: inset 0 1px #DDDDDD;

    //     .main-navigation__list {
    //         overflow-x: auto;
    //         overflow-y: auto;
    //         justify-content: space-between;

    //         height: auto;
    //         padding-bottom: 0;

    //         white-space: normal;
    //     }

    //     .main-navigation__item {
    //         width: 33%;
    //     }

    //     .main-navigation__item:first-of-type {
    //         margin-left: 0;
    //     }

    //     .main-navigation__link {
    //         flex-direction: column;

    //         padding-top: 10px;
    //         padding-bottom: 10px;
    //     }

    //     .main-navigation__icon {
    //         margin-bottom: 5px;
    //     }

    //     .main-navigation__name {
    //         margin-left: 0;
    //     }
    // }
}

@media (max-width: @screen-lg) {
    .page-header {
        // padding: 0 33px 0 50px;
        flex-wrap: wrap;

        height: 154px;

        .main-navigation {
            flex-basis: 100%;
            order: 3;

            height: 78px;
        }

        .user-block {
            order: 2;
        }
    }

    // .page-header__link {
    //     margin: 0;
    // }
}

@media (max-width: @screen-md) {
    // .page-header {
    //     padding: 0 33px 0 30px;

    //     .main-navigation--bottom-fix {
    //         position: static;

    //         overflow: hidden;

    //         width: auto;
    //         max-width: 100%;
    //         height: auto;

    //         background-color: transparent;
    //         box-shadow: none;

    //         .main-navigation__list {
    //             overflow: hidden;
    //             justify-content: flex-start;

    //             height: auto;
    //             margin: 0 auto;
    //             padding: 0;

    //             white-space: nowrap;
    //         }

    //         .main-navigation__item {
    //             width: auto;
    //         }

    //         .main-navigation__link {
    //             flex-direction: row;

    //             height: 65px;
    //             padding-top: 25px;
    //             padding-bottom: 25px;
    //         }

    //         .main-navigation__icon {
    //             margin-bottom: 0;
    //         }

    //         .main-navigation__name {
    //             margin-left: 10px;
    //         }
    //     }

    //     .main-navigation__item:first-of-type {
    //         margin-left: 0;
    //     }
    // }

    // .page-header__link {
    //     margin: 0;
    // }
}

@media (max-width: 755px) {
    //     .page-header {
    //         // flex-wrap: nowrap;

    //         .main-navigation {
    //             overflow: visible;
    //             flex-basis: auto;
    //             order: 2;

    // // min-width: 450px;
    //             // max-width: 60%;

    //             height: auto;
    //         }

    //         .main-navigation__list {
    //             overflow-x: visible;
    //             overflow-y: visible;
    //             flex-wrap: wrap;

    //             padding: 0;

    //             white-space: normal;
    //         }

    //         .main-navigation__link {
    //             padding: 25px;
    //         }

    //         .main-navigation__item:first-of-type {
    //             margin-left: 0;
    //         }

    //         .main-navigation--margin {
    //             max-width: 100%;
    //         }
    //     }

    //     .page-header__link {
    //         padding: 0;
    //     }
}


