@import '../../styles/variables.less';


.dapp {
    display: flex;
    flex: 1;

    .dapp-body {
        display: flex;
        justify-content: center;

        width: calc(100% - 220px - 10px);
        padding: 10px;

        .wrapper {
            display: flex;
            flex-direction: column;

            width: 100%;
            max-width: @dapp-content-max-width;

            .content {
                flex: 1;
            }
        }
    }
}

.dapp-error {
    flex: 1;

    .dapp-error-text {
        font-size: 23px;
    }
}

@media (max-width: @dapp-width-min) {
    .dapp {
        .dapp-body {
            width: 100%;
        }
    }
}

@media (max-width: @dapp-mobile-width-min) {
    .dapp {
        .dapp-body {
            padding: 0;
        }
    }
}
