@import '../../../styles/variables.less';

.ctor-card {
    position: relative;

    height: 333px;

    border-radius: 8px;
    background-color: #FFFFFF;

    &:hover, &:focus {
        background-color: #E6E9F0;
    }

    .ctor-card__link {
        z-index: 100;

        display: flex;
        flex-direction: column;

        padding-top: 138px;

        text-decoration: none;

        .ctor-card__img {
            position: absolute;
            top: -30px;
            left: 10px;

            overflow: hidden;

            width: 150px;
            height: 150px;

            border-radius: 24px;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            .empty_img {
                flex: 1;

                height: 100%;

                background-color: darkseagreen;

                p {
                    margin: 0;

                    font-family: @f-cera-pro-black;
                    font-size: 45px;
                }
            }
        }
    }

    .ctor-card__description {
        display: flex;
        flex: 1;
        flex-direction: column;

        padding: 0 10px;

        .ctor-card__header {
            margin: 0 0 6px 0;

            opacity: .9;

            font-family: @f-cera-pro-700;
            font-size: 17px;
            line-height: 21px;
        }

        .ctor-card__text {
            margin: 0;

            font-family: @f-cera-pro-400;
            font-size: 13px;
            line-height: 18px;
        }

        @supports (word-break: break-word) {
            .ctor-card__text {
                word-break: break-word;
            }
        }

        @supports not (word-break: break-word) {
            .ctor-card__text {
                word-break: break-all;
            }
        }
    }

    .ctor-card__controls {
        .ctor-card__buttons {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            margin: 0;
            padding: 0 20px 20px 7px;

            .ctor-card__price {
                height: 38px;
                padding: 0 6px;

                cursor: pointer;
                text-align: center;
                text-decoration: none;
                letter-spacing: .8;
                text-transform: uppercase;

                opacity: .9;
                color: #0C7186;
                border-radius: 4px;
                background-color: transparent;

                font-family: @f-cera-pro-700;
                font-size: 14.17px;
                font-weight: normal;
                line-height: 18px;

&:extend(.flex);

                &:hover {
                    background-color: rgba(12,113,134,.1);
                }
            }

            .ctor-card__comp-count {
                .count-img {
                    margin-right: 7px;

                    svg {
                        width: 18px;
                        height: 22px;
                    }
                }

                .text-count {
                    color: gray;

                    font-family: @f-cera-pro-500;
                }
            }
        }
    }
}

@media (min-width: @screen-lg) {
    .ctor-card__description {
        padding-bottom: 15px;
    }

    .ctor-card__header {
        width: 230px;

        font-size: 20px;
        line-height: 24px;
    }
}

