@import '../../styles/variables.less';

.page-main {
    flex: 1;

    padding-bottom: 61px;

    .banner-section {
        margin-top: 10px;
    }

    .sort-section {
        margin-top: 10px;
    }

    .ctor-section {
        margin-top: 15px;

        .ctor-list {
            display: grid;

            margin: 0;
            padding: 0;

            list-style-type: none;

            grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
            grid-gap: 10px;

            .ctor-item {
                // min-width: 240px;
                // max-width: 360px;
                margin-top: 35px;
            }
        }
    }
}

.page-main--store {
    padding: 0 15px 40px;
}

