.btn-margin {
  margin: 7px 3px;
}

.navbar-header {
  display: flex;
  width: 100%;
}

.navbar-header .logo {
  flex-grow: 1;
  text-align: left;
}

.navbar-header .nav-buttons {
  flex-grow: 1;
  text-align: right;
}
