@import '../../../styles/variables.less';

.dapp-custom {
    width: 635px;

    .dapp-custom-container {
        padding: 25px;

        .dapp-custom-description {
            width: 520px;
            margin: 8px 0 20px;
        }

        .dapp-custom-input {
            margin-top: 10px;
        }
    }

    .dapp-custom-preview {
        padding: 25px;

        background-color: #F2F3F7;

        .dapp-card-custom {
            width: 380px;
        }
    }

    .dapp-custom-warning {
        padding: 15px 25px 25px;

        .divider {
            padding: 0 25px 25px;

            border-top: 1px solid #E5E9F1;
        }
    }

    .dapp-custom-type {
        padding: 0 25px 25px;
    }

    .item-select {
        padding-left: 10px;

        cursor: pointer;

        &:hover {
            background-color: gray;
        }

        .item-select-img {
            width: 26px;
            height: 26px;

            border-radius: 16%;
        }

        .item-select-text {
            margin-left: 10px;

            font-family: @f-cera-pro-500;
            font-size: 14px;
            line-height: 18px;
        }
    }

    .dapp-custom-loader {
        margin-bottom: 25px;
    }
}
